== slim :'partials/right-block'

h1.home= locals[:h1] || 'Dernières citations'

- @quotes.each do |quote|
  == slim :'partials/quote', locals: {:quote => quote, :user => session[:user]}

div.pagination-container == paginate @quotes
