form action="/quote" method="post" role="form"

  h1.home Nouvelle citation

  form-group
    label
      | Auteur
      span.required *
    input.form-control type="text" placeholder="Auteur" name="quote[author]" required="required" id="author"
  form-group
    label Livre
    input.form-control type="text" placeholder="Livre" name="quote[book]" id="book"
  form-group
    label
      | Citation
      span.required *
    textarea.form-control placeholder="Texte" name="quote[text]" required="required"
  button.btn.btn-default type="submit" Ok

javascript:
  $(function(){

     $('#author').selectize({
      valueField: '_id', labelField: 'name',
      searchField: 'name', create: true, maxItems: 1,
      render: {
        option_create: function(data, escape) {
          return '<div class="create">Ajouter <strong>' + escape(data.input) + '</strong>&hellip;</div>';
        }
      },
      load: function(query, callback) {
        if (!query.length) return callback();
        $.ajax({
          url: '/author/find/' + encodeURIComponent(query), type: 'GET',
          error: function() { callback(); },
          success: function(res) { callback(res.slice(0, 10)); }
        });
      }
    });

    $('#book').selectize({
      valueField: '_id', labelField: 'name',
      searchField: 'name', create: true, maxItems: 1,
      render: {
        option_create: function(data, escape) {
          return '<div class="create">Ajouter <strong>' + escape(data.input) + '</strong>&hellip;</div>';
        }
      },
      load: function(query, callback) {
        if (!query.length) return callback();
        $.ajax({
          url: '/book/find/author/' + $('#author').val() + '/book/' + encodeURIComponent(query), type: 'GET',
          error: function() { callback(); },
          success: function(res) { callback(res.slice(0, 10)); }
        });
      }
    });

  });