h1.book
  a href="/author/#{@quote.author._id}"= @quote.author.name
  | &nbsp;-&nbsp;
  i.book
    a href="/book/#{@quote.book._id}"= @quote.book.name

== slim :'partials/quote', locals: {:quote => @quote, :user => session[:user], :showUser => true}

#disqus_thread

javascript:
  var disqus_shortname = 'citations';
  var disqus_identifier = "/quote/#{@quote._id}";
  var disqus_iframe_css = "http://quotes.barbotte.net/youpi.css"
  var disqus_config = function () {

  };

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
