@import "selectize-bootstrap3";

.content {
  padding: 10px 50px;
  position: relative;
  top: 60px;
}
body {
  font-family: 'Source Sans Pro';
  //font-weight: 300;
}
h1{
  //font-size: 2em;
}
h2{
  //font-size: 1.7em;
}

.navbar{
  &.navbar-default{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(248, 248, 248, 0.9);
    z-index: 2;
  }
  .search-block{
    width: 500px;
  }
  .navbar-toggle{
    font-size: 0.8em;
  }
  .navbar-brand{
    font-family: lato;
    font-weight: 100;
    font-size: 2.3em;
  }
  a, button{
    text-decoration: none;
    color: #6C6C6C;
  }
  .search-block{
    margin-top: 7px;
    display: table;
    width: 250px;
    max-width: 250px;
  }
}
.quote{
  margin: 35px 0px;
  .text{
    margin-bottom: 3px;
    font-size: 1.2em;
    white-space: pre-line;
    color: #222;
    font-weight: 300;
  }
  .author{
    a{
      text-decoration: none;
      color: #999;
    }
    margin-right: 5px;
    font-weight: 400;
    font-size: 0.9em;
  }
  .book{
    font-style: italic;
    font-size: 0.9em;
    &:before{
      content: "- ";
    }
  }
  i{
    font-size: 0.8em;
    margin-left: 5px;
    display: none;
  }
  &:hover i{
    display: inline;
  }
  .user{
    margin-top: 5px;
    font-size: 0.9em;
    color: #aaa;
    a{
      color: #999;
    }
  }
}
.book-list{
  margin-top: 30px;
}

form{
  max-width: 500px;
  .required{
    margin-left: 4px;
    color: red;
  }
  textarea{
    min-height: 100px;
  }
}
.modal{
  form{
    max-width: 100%;
  }
  &.fade{
    overflow: auto;
  }
}
h1, h2, h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
h1{
  font-family: "Bad Script";
  font-size: 1.7em;
  margin-bottom: 20px;
  .book{
    font-family: "Source Sans Pro";
    font-weight: 300;
  }
  &.home{
    margin-bottom: 30px;
  }
}
h2.books, h2.quotes{
  font-size: 1.3em;
  font-family: Lato;
  font-weight: 300;
  color: #b10101;
}
h2.letter{
  font-size: 1.3em;
  font-family: Lato;
  font-weight: 300;
  color: #b10101;
  margin-top: 10px;
}
a{
  outline: none;
  text-decoration: none;
  color: #888;
  &:hover, &:hover p{
    //color: #222;
    outline: none;
    color: #b10101!important;
    text-decoration: none;
  }
  &:active, &:active p{
    outline: none;
  }
}
h1, h2{
  a{
    color: #333;
  }
}
@media (max-width: 767px) {
  .search-block{
    width: 200px!important;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  .quote{
    i{
      visibility: inline;
    }
  }
}
#disqus_thread{
  margin-top: 50px;
}

.pagination-container{
  text-align: center;
}

.pagination {
  text-align: center;
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;

  > span {
    display: inline; // Remove list-style and block-level defaults
    &.current,
    &.gap,
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: 6px 12px;
      line-height: 1.428571429;
      text-decoration: none;
      //color: @pagination-color;
      //background-color: @pagination-bg;
      border: 1px solid #dddddd;
      margin-left: -1px;
    }
    &:first-child {
      &.current,
      > a,
      > span {
        margin-left: 0;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }
    }
    &:last-child {
      &.current,
      > a,
      > span {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
      }
    }
  }

  > span > a,
  > span > span {
    &:hover,
    &:focus {
      //color: @pagination-hover-color;
      background-color: #eeeeee;
      //border-color: @pagination-hover-border;
    }
  }

  .current{
    background: #eee;
    color: #aaa;
  }

  .color{
    color: #888;
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: #999999;
      background-color: #ffffff;
      border-color: #dddddd;
      cursor: not-allowed;
    }
  }
}
